body {
    margin: 0;
    padding: 0;
}

/*-------------About Us starts here-----------*/

.about-banner {
    position: relative;
}

.about-banner img {
    width: 100%;
}

.about-txt {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-txt h4 {
    font-family: 'futura-regular', Arial, sans-serif;
    font-weight: 400;
    font-size: 29px;
    color: #ffffff;
    letter-spacing: 3px;
}

.about-txt h2 {
    font-family: 'futura-bold', Arial, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 42px;
}

.discover {
    background: url(../images/vec-background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


p.headtxt {
    color: #000000;
    font-family: 'futura-medium', Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.7;
    margin: 45px 0;
    letter-spacing: 1px;
}


h2.vhead {
    color: #e94e20;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'futura-book', Arial, sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}

h2.vhead span {
    font-family: 'futura-bold', Arial, sans-serif;
    font-weight: 800;
    color: #172c60;
}


.manufacture {
    position: relative;
}

.manufacture img {
    width: 100%;

}

.m-head {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manufacture h2 {
    color: #fff;
    font-family: 'futura-bold', Arial, sans-serif;
    font-weight: 800;
    font-size: 2.7rem;
    text-transform: uppercase;
}

.next-gen {
    background: url(../images/vec-background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ran-text {
    text-align: center;
}


.man-video {
    /*
    background: url(../images/manufacturing/state-of-art.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
*/
    position: relative;
}

.man-videobg img.stateofart {
    width: 100%;
}

.man-videobg img.stateofartmob {
    display: none;
}

.manufacturingvideo {
    display: none;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background: #fff url(../images/loading.gif) no-repeat center center;
}

.manufacturingvideoClose {
    z-index: 3;
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    background-color: #e94e20;
    cursor: pointer;
    transition: all .4s ease-out;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.manufacturingvideoClose:hover {
    background-color: #152c55;
    color: #fff;
    transition: all .4s ease-in;
}

.manufacturingvideoiframe {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
}

.man-videobg {
    position: relative;
}

.man-video img#manu-play {
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.res-banner {
    position: relative;
}

.res-banner img {
    width: 100%;
}

.r-head {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.res-banner h2 {
    color: #fff;
    font-family: 'futura-bold', Arial, sans-serif;
    font-weight: 800;
    font-size: 2.7rem;
    text-transform: uppercase;
}

.unlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.res-txt {
    text-align: center;
    margin-top: 5rem;
}

.lorem {
    margin: 0 5% 20px 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.lorem-box {
    text-align: start;
    width: 31%;
    border: 1.5px solid #ececec;
    padding: 30px 20px;
    margin: 10px;
}

.lorem-box span {
    font-size: 12px;
}

.down img {
    height: 25px;
    margin-right: 15px;
}

.down a:hover img {
    transition: all .4s ease-in;
    filter: invert(100%) saturate(10000%);
}

.down {
    display: flex;
}

.down a:hover {
    transition: all .4s ease-in;
}

.lorem-box p {
    padding: 15px 0;
    font-family: 'futura-book', Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #2c2c2c;
}

.down span {
    color: #6C6C6C;
    font-size: 11px;
}


.contact-banner {
    position: relative;
}

.contact-banner img {
    width: 100%;

}

.cont-head {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-banner h2 {
    color: #fff;
    font-family: 'futura-bold', Arial, sans-serif;
    font-weight: 800;
    font-size: 2.7rem;
    text-transform: uppercase;
}

.download-banner {
    position: relative;
}

.download-banner img {
    width: 100%;

}

.d-head {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-banner h2 {
    color: #fff;
    font-family: 'futura-bold', Arial, sans-serif;
    font-weight: 800;
    font-size: 2.7rem;
    text-transform: uppercase;
}

.down-head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-txt {
    text-align: center;
    margin-top: 5rem;
}

.bord-p {
    position: relative;
    padding-bottom: 50px;
}

.bord-p::after {
    position: absolute;
    content: "";
    height: 1.5px;
    background: #ececec;
    bottom: 24px;
    width: 65%;
    left: 19%;
}

.down-bord {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid #ececec;
    padding: 20px;
    width: 73%;
    margin: auto auto 20px auto;
}


.d-txt {
    display: flex;
    align-items: center;
}

.d-txt span {
    color: #606060;
    font-weight: 900;
    font-size: 18px;
    margin-right: 30px;
    margin-left: 20px;
}

.d-txt p {
    font-size: 14px;
    font-family: 'futura-medium', Arial, sans-serif;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 1px;
}

.down-bord a:hover {
    transition: all .4s ease-in;
}

.down-bord img {
    height: 25px;
}

.down-bord a:hover img {
    transition: all .4s ease-in;
    filter: invert(100%) saturate(10000%);
}

.sustain-banner {
    position: relative;
}

.sustain-banner img {
    width: 100%;
}

.s-head {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sustain-banner h2 {
    color: #fff;
    font-family: 'futura-bold', Arial, sans-serif;
    font-weight: 800;
    font-size: 2.7rem;
    text-transform: uppercase;
}

.eco-friendly {
    background: url(../images/vec-background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.eco-friendly::after {
    position: absolute;
    content: "";
    bottom: 0;
    background: #ececec;
    height: 1px;
    width: 78%;
    left: 11%;
}

.eco-text {
    text-align: center;
}

.eco-text p:nth-last-child(1) {
    color: #000000;
    font-family: 'futura-medium', Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.7;
    margin: 45px 0;
    letter-spacing: 1px;
}

.sus-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem 5rem;
    justify-content: space-around;
    position: relative;
}

.sus-imgbox {
    text-align: center;
}

.sus-imgbox img {
    width: 65%;
}

.sus-content p {
    color: #7d7d7f;
    line-height: 1.6;
}

.sus-imgbox h3 {
    color: #707070;
    font-family: 'futura-bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.sus-content::after {
    position: absolute;
    content: "";
    background: #ececec;
    height: 1.5px;
    width: 90%;
    bottom: 0;
}

.sus-p {
    width: 70%;
}

.sus-p ul {
    list-style: none;
    padding-left: 10px;
    padding-top: 20px;
    color: #7d7d7f;
}

.sus-p ul li {
    padding-bottom: 5px;
}

img.mob-ban {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/*---------------Responsive--------------*/


@media only screen and (max-width:1255px) {
    .eco-friendly {
        height: 60vh;
    }

    .sus-content {
        padding: 3rem 3rem;
    }

    .sus-imgbox img {
        width: 55%;
    }

    .sus-imgbox h3 {
        font-size: 18px;
    }


    .discover {
        height: auto;
    }

    .discover-txt h2.vhead {
        padding-top: 3rem;
    }


    .manufacture h2 {
        top: 26%;
    }

    .next-gen {
        height: auto;
    }

    .next-gen h2.vhead {
        margin-top: 3rem;
    }

    .man-video {
        height: 90vh;
    }

}


@media only screen and (max-width:920px) {

    p.headtxt br,
    .eco-text p:nth-last-child(1) br {
        display: none;
    }

    p.headtxt {
        width: 90%;
        margin: auto;
        padding-bottom: 25px;
    }

    .eco-text p:nth-last-child(1) {
        width: 90%;
        margin: 40px auto;
    }

    .eco-friendly {
        height: auto;
    }

    .eco-text h2.vhead {
        margin-top: 3rem;
    }

    .sus-content {
        padding: 3rem 1rem;
    }

    .sus-imgbox img {
        width: 50%;
    }

    .sus-imgbox h3 {
        font-size: 17px;
    }

    ..about-txt h4 {
        1.8rem;
    }

    .about-txt h2 {
        font-size: 2rem;
    }


    .d-txt p br {
        display: none;
    }

    .d-txt p {
        width: 80%;
    }

    .manufacture h2 {
        font-size: 2rem;
    }

    .man-video {
        height: 65vh;
    }

    .res-banner h2 {
        font-size: 2rem;
    }

    .lorem-box {
        width: 45%;
        margin: 10px auto;
        padding: 30px 50px;
    }
}

@media only screen and (max-width:767px) {

    .contact-banner h2 {
        font-size: 2rem;
    }

    h2.vhead {
        font-size: 2rem;
    }

    .d-head h2 {
        font-size: 2rem;
    }

    .manufacture h2 {
        font-size: 2rem;
    }

    .lorem-box {
        padding: 25px 15px;
    }
}

@media only screen and (max-width:479px) {

    .m-head,
    .r-head,
    .s-head,
    .d-head,
    .cont-head,
        {
        top: 16%;
    }

    .about-txt {
        top: 8%;
    }
    .man-video img#manu-play{top: 65%;}
    .man-videobg img.stateofart{display: none;}
    .man-videobg img.stateofartmob{display: block;width: 100%;height: 100%;}
    .discover {
        height: auto;
        display: block;
    }

    img.mob-ban {
        display: block;
    }

    img.desktop-ban {
        display: none;
    }

    .sustain-banner h2 {
        font-size: 2rem;
    }

    h2.vhead {
        font-size: 1.5rem
    }

    .sus-content {
        flex-direction: column;
        padding: 1rem;
    }

    .sus-imgbox h3 {
        margin-bottom: 15px;
    }

    .sus-p {
        width: 95%;
        font-size: 15px;
        margin: auto;
        text-align: justify;
    }

    .contact-banner h2 {
        font-size: 2rem;
    }

    .about-txt h4 {
        font-size: 1.8rem;
    }

    .about-txt h2 {
        font-size: 2rem;
    }

    .download-banner h2 {
        font-size: 2rem;
    }

    .down-bord {
        width: 90%;
        padding: 20px 10px;
    }

    .d-txt span {
        color: #606060;
        font-weight: 900;
        font-size: 18px;
        margin-right: 20px;
        margin-left: 10px;
    }

    .manufacture h2 {
        font-size: 2rem;
    }

    .man-video {
        height: 50vh;
    }

    .res-banner h2 {
        font-size: 2rem;

    }

    .lorem-box {
        width: 90%;
        margin: 10px auto;
        padding: 30px 30px;
    }
}

@media only screen and (max-width:376px) {
    .about-txt {
        top: 16%;
    }
}

@media only screen and (max-width:367px) {
    .manufacture h2 {
        top: 14%;
        left: 27%;
    }

    .lorem-box {
        padding: 20px 15px;
    }

    .about-txt {
        top: 8%;
    }
}
