.sectionbottom { 
    @include fCC(); background-color: $blue2; width: 100%;  float: left; padding:3rem 0; 
    .warrper { 
        @include fBC(); 
        p { float: left; width:auto;  color: $white; text-align: left;  @include fbook(); font-size: 14px; line-height: 18px; }
        ul { 
            float: right; width:auto;  @include fSC(); 
            li { 
                list-style: none; display: inline-block; margin:0 0.5rem 0 1rem;  
                span { display: inline-block; color: $white; text-align: left;  @include fbook(); font-size: 16px; line-height: 20px; }
                a {  
                    color: $white;  font-size: 24px; line-height: 1; cursor: pointer;  @include tdn(); @include outT(); 
                    &:hover {  color: $orange;   @include inT(); }
                }
            }
        } 
    }
}