@font-face {
  font-family: 'futura-black';
  src: url('../fonts/futura_black.woff2') format('woff2'), url('../fonts/futura_black.woff') format('woff');
  font-weight: normal; font-stretch:normal; font-style: normal;
}
@font-face {
  font-family: 'futura-bold';
  src: url('../fonts/futura_bold.woff2') format('woff2'), url('../fonts/futura_bold.woff') format('woff');
  font-weight: normal; font-stretch:normal; font-style: normal;
}
@font-face {
  font-family: 'futura-medium';
  src: url('../fonts/futura_medium.woff2') format('woff2'), url('../fonts/futura_medium.woff') format('woff');
  font-weight: normal; font-stretch:normal; font-style: normal;
}
@font-face {
  font-family: 'futura-book';
  src: url('../fonts/futura_book.woff2') format('woff2'), url('../fonts/futura_book.woff') format('woff');
  font-weight: normal; font-stretch:normal; font-style: normal;
}
@font-face {
  font-family: 'futura-regular';
  src: url('../fonts/futura_regular.woff2') format('woff2'), url('../fonts/futura_regular.woff') format('woff');
  font-weight: normal; font-stretch:normal; font-style: normal;
}
@font-face {
  font-family: 'futura-light';
  src: url('../fonts/futura_light.woff2') format('woff2'), url('../fonts/futura_light.woff') format('woff');
  font-weight: normal; font-stretch:normal; font-style: normal;
}
@font-face {
  font-family: 'futuraLT';
  src: url('../fonts/futura_lt.woff2') format('woff2'), url('../fonts/futura_lt.woff') format('woff');
  font-weight: normal; font-stretch:normal; font-style: normal;
}

 