.header { 
    z-index:8; position:fixed; left: 50%; top: 0; transform: translateX(-50%); @include fCC();  background-color: $white; width: 100%; max-width: 1600px; height: 110px;  
    .warrper { 
        .logo {
             width:184px; float: left; 
             img { width: 100%; }
        }
        .headerRight { 
            display: block;  width: auto; float:right; margin: 0.4rem 1rem 0 0; 
                ul { 
                    @include fCC(); width: auto; float: left; 
                    li { 
                        position: relative; list-style: none; margin: 0 1rem; display: inline-block;
                        a { 
                            float: left; width: auto; padding:0.5rem 0; @include outT(); text-align: center;  color:$black; @include tdn(); @include fbook(); background: none; border-bottom: solid 6px $white;  font-size: 13px; letter-spacing: 1.3px; line-height: 16px;
                            &:hover, &.active { border-bottom-color: $orange; color:$orange;  @include inT(); }
                            i.fa-angle-down { margin-left: 0.3rem; font-weight: 400; line-height: 1; font-size: 120%; }
                        }
                        
                        .dropdownmenu { display: none; }
                        &:hover {
                            a { border-bottom-color:$orange; color: $orange; }
                            .dropdownmenu { 
                                display: block;  z-index: 2; position:absolute; left: 0; top:100%; width:160px; float: left; 
                                a { 
                                    float: left; width: 100%; padding:0.7rem 1rem; background: $orange; @include outT(); text-align: left; color:$white; @include tdn(); @include fbook();  border-bottom: solid 1px $white;  font-size: 12px; letter-spacing:normal; line-height: 1;
                                    &:hover, &.active { background: $blue; color:$white;  @include inT(); }
                                    &:last-child { border-bottom: 0px; }
                                }
                            }
                        }
                    }
                }  
        }
        p {
            display: block;  width: auto; float:right; margin-top: 0.5rem;
            .enquirenowBtn { 
                position: relative; padding:0.6rem 1.5rem; width: 100%; float: right; background-color: $orange;  @include fmedium(); font-weight: normal; color:$white;  text-align: center;cursor: pointer; @include tdn();  border-radius: 10px; font-size: 11px; letter-spacing: 1.1px; line-height: 14px;
                &:hover { background-color: $black;  color:$white; @include inT();  } 
            }
        }
        aside { display: none; }
    }
    
}
 

@media only screen and (max-width:1100px) 
{
    .header { 
        height: 70px;  padding-top: 0.7rem;
        .warrper { 
            .logo { width:130px;  }
            aside { 
                display: block; float: right; width: 30px; height: 30px; position: relative; line-height: 1; margin: 0.2rem 0 0 1rem;
                span {
                   position: absolute;  float: left; width:100%; height: 3px; background-color: $black; line-height:3px; font-size: 3px; border-radius: 3px; padding: 0;
                    &:first-child { left: 0;  top: 0; @include outT(); }
                    &:nth-child(2) {left: 0;  top: 9px; @include outT(); }
                    &:last-child { right: 0;  top: 18px; @include outT(); }
                }
                &.active { 
                    span {
                        &:first-child {top: 45%; transform: rotate(45deg);  @include inT(); }
                        &:nth-child(2) { display: none; @include inT(); }
                        &:last-child {top: 45%; transform: rotate(-45deg); @include inT(); }
                    }
                }
            }
            p { margin-top: 0; }
            .headerRight { 
                display: none; position: absolute;top: 70px; right: 0; width: 100%; height: calc(100vh - 70px); background: $blue; padding:1rem 0;  margin: 0; overflow: hidden; overflow-y: scroll;
                ul { 
                    @include fSS(); width: 100%; flex-wrap: wrap;
                    li { 
                        margin: 0; display:block; width: 100%; float: left;
                        &:last-child {
                            a { border-bottom:none;}
                        }
                        a { 
                            float: left; width: 100%; padding:0.7rem 2rem; text-align: left;  color:$white; border-bottom: solid 2px $white;   
                            &:hover, &.active { border-bottom-color: $orange; color:$orange;  @include inT(); }
                        }
                        &:hover {
                            a { border-bottom-color: $orange; color:$orange;  }
                            .dropdownmenu {
                                position:relative; left: 0; top:0; width:100%;  
                                    a { 
                                        float: left; width: 100%; padding:0.7rem 3rem; background:none; @include outT();   text-align: left;  color:$white; @include tdn(); @include fbook();  border-bottom: dotted 1px $gray;  font-size: 12px; letter-spacing:normal; line-height: 1;
                                        &:hover, &.active { border-bottom: dotted 1px $gray; background:none; color:$orange;  @include inT(); }
                                        &:last-child {  border-bottom: dotted 1px $gray; }
                                    }
                            }
                        }
                    }
                } 
            }
        }
        
    }
}
 
 
@media only screen and (max-width:599px) 
{

    
}
 