
 
.hm_getintouchwrap { 
    @include fCC();  background-color: $gray; width: 100%; float: left;  padding: 3rem 0;
   .hm_getintouchInsider { 
       display: flow-root; width: 95%;max-width: 716px; margin: 0 auto; float:none;
       h2 { width: 100%;  float: left; text-align: center; @include fbold(); color:$blue;  font-size: 45px; line-height:60px; }
       .hm_getintouchForm {
            width: 100%;  float: left;
            .hm_getintouchField {  
                width: 100%;  float: left; margin-top:1.5rem; 
                img { width: 30px; float: left;  }
                .hm_getintouchInput, .hm_getintouchSelect, .hm_getintouchTextarea {
                    width: calc(100% - 40px);
                    float: right;
                    padding: 0.5rem 0;
                    background:transparent;
                    outline: none;
                    border: none;
                    border-bottom: solid 1px $black;
                    text-align: left;
                    font-size: 14px;
                    line-height: 1;
                    color: $black;
                    @include fbook();
                }
                .hm_getintouchTextarea { height: 90px; resize: none;}
                .hm_getintouchSelect {
                    text-indent: 1px;
                    text-overflow: "";
                    -webkit-appearance: none;
                    appearance: none;
                    background:transparent url('../images/getintouch_dropdown.png') no-repeat;
                    background-position: right 5px center;
                }
                .hm_getintouchButton {
                    position: relative; padding:0.8rem 2rem; width: auto; float: right; background-color: $orange;  @include fmedium(); font-weight: normal; color:$white;  text-align: center;cursor: pointer; @include tdn(); border-radius: 10px; font-size: 14px; letter-spacing: 0.7px; line-height: 19px; text-transform: uppercase;
                    &:hover { background-color: $black;  color:$white; @include inT();  } 
                }
                .hm_getintouchError {
                    display: none;
                    width: 100%;
                    float: left;
                    margin-top: 10px;
                    font-size: 12px;
                    color: $red; @include flight();
                    text-align: center;
                }
            }
        }
    }
}
 

@media only screen and (max-width:1023px) 
{
    
}


 