.socialwall { 
    background: $black3 url('../images/socialwall-bg-web.png') no-repeat center bottom; background-size: 100% auto; width: 100%;  float: left; padding: 0 0 120px 0;  @include fCS(); 
    .socialwall-insider { 
        width:95%; max-width: 1256px; margin: 0 auto; float:none;
        h2 { 
            width: 100%; float: left; text-align: left; @include fBC(); padding: 0; margin:0 0 1rem 0;
            b { @include cutthecrap(); color: $white; font-size: 34px; } 
            span { float: right; text-align: right; @include latobold(); color: $green3; font-size:16px; font-style: italic; }
        }
    }
}
 
.socialslider.slick-slider { width: 100%; float: right;  overflow:hidden; margin:0; padding:0 0 30px 0;  }
.socialslider.slick-slider .slick-list { margin: 0; padding: 0; overflow: visible; }
.socialslider.slick-slider .slick-track { display: flex; justify-content: space-between;align-items: stretch;height: inherit; margin: 0; padding: 0;  }
.socialslider.slick-slider .slick-slide { margin: 0 10px; height: inherit !important; }
.socialitem { width: 100%; }
.socialitem img { width: 100%; float: left; }
/* socialslider  === arrows */
.socialslider.slick-slider .slick-arrow { z-index: 3; opacity: 0; top:auto; top:50%; transform: translateY(-55%); width:35px; height:35px; border-radius: 50%; margin: 0; padding: 0; border:0; line-height: 1; background-color:$black; color:$white; @include fCC(); @include outT();  }
.socialslider.slick-slider:hover .slick-arrow { opacity: 1; @include inT(); }
.socialslider.slick-slider .slick-arrow:hover { background-color:$green2; color:$white; @include inT(); }
.socialslider.slick-slider .slick-arrow.slick-disabled { opacity: 0; user-select: none; pointer-events:none; }
.socialslider.slick-slider:hover .slick-arrow.slick-disabled { opacity: 0.4; user-select: none; pointer-events:none; }
.socialslider.slick-slider .slick-next  { right:20px; } 
.socialslider.slick-slider .slick-prev { left:20px; }
.socialslider.slick-slider .slick-arrow:before { text-align: center; font-size:20px; line-height:0; font-family: 'fontawesome'; }
.socialslider.slick-slider .slick-next:before { content: "\f105"; }
.socialslider.slick-slider .slick-prev:before { content: "\f104"; }
.socialslider.slick-slider .slick-arrow.slick-disabled { user-select: none; pointer-events: none; }
/* socialslider  === dots */
.socialslider.slick-slider .slick-dots { z-index:2; bottom: 0px;  text-align: center; }
.socialslider.slick-slider .slick-dots li { position: relative; display: inline-block; width:10px; height:10px; margin: 0 4px; padding: 0; border: none; cursor: pointer; background:$white; border-radius:50%; }
.socialslider.slick-slider .slick-dots li.slick-active { transform: scale(1); background:$green2; }
.socialslider.slick-slider .slick-dots li button { display: none; }

.eapps-link { display: none !important; }

@media only screen and (max-width:1023px) 
{
    .socialslider.slick-slider .slick-slide { margin: 0 5px;   }
    .socialslider.slick-slider .slick-list { padding:0 15px 0 0 !important; }
    .socialslider.slick-slider .slick-track { @include fBS();  }
    .socialslider.slick-slider .slick-slide { @include fCS(); margin: 0 5px; }
}

@media only screen and (max-width:479px) 
{
    .socialwall { 
        background: $black3 url('../images/socialwall-bg-mob.png') no-repeat center bottom; background-size: 100% auto; padding: 0 0 70px 0;
        .socialwall-insider { 
            h2 { 
                flex-direction: column; @include fSS(); 
                b { font-size: 24px; } 
                span { margin-top: 0.5rem; width: 100%; text-align: left;font-size:14px;  }
            }
        }
    }
    

}
 