.tncwrap { 
    background: $black3; width: 100%;  float: left;  min-height: calc(100vh - 165px);  padding:4rem 0;  @include fCC(); 
    .tncwrap-inner { 
        width:95%; max-width: 1256px; margin: 0 auto; float:none;  
            h2 { margin:0 0 1rem 0; width: 100%; float: left; text-align: left; @include cutthecrap(); color: $white; font-size: 34px; line-height: 1.2; }
            p { margin:0 0 0.3rem 0; width: 100%; float: left; text-align: left; @include latomedium(); color: $white; font-size: 16px; line-height: 1.2; }
            ul { 
                width: 100%; float: left;  margin:0; padding: 0;
                li { 
                    list-style: decimal; margin:0.5rem 0 0.5rem 1rem;  line-height: 1.2; font-size: 16px; font-weight: 400; color:$white;  text-align: left;  @include latomedium();
                    ul { 
                        width: 100%; float: left;   margin:0 0 1rem 0; padding: 0;
                       li { list-style:lower-alpha; margin:0.1rem 0 0.1rem 1rem;  line-height: 1.2; font-size: 16px; font-weight: 400; color:$white;  text-align: left;  @include latoregular(); }
                    }
                }
            }
    }
}

@media only screen and (max-width:1255px) 
{
 .tncwrap { min-height: calc(100vh - 132px); }
}
@media only screen and (max-width:767px) 
{
    .tncwrap { 
        padding: 3rem 0;
        .tncwrap-inner { 
            width: 92%;
            h2 { font-size: 24px; }
        }
    }
}
@media only screen and (max-width:599px) 
{
    .tncwrap { min-height: calc(100vh - 140px); }
}


@media only screen and (max-width:479px) 
{
    .tncwrap {  
        padding: 2rem 0;
    }
}