$black : #000000;
$black2 : #565659;
$black3 : #474747;
$black4 : #282828;
$black5 : #333333;
 
$orange : #E94E20;


$white : #ffffff;
 
$gray : #F0F0F0;
$gray2 : #c0c0c0;
$gray3 : #848484;
$gray4 : #6C6C6C;
$gray5 : #e5e5e5;
$gray6 : #777777;
$gray7 : #b7b7b7;

$red : #F22310;

$blue : #152c55;
$blue2 : #19305B;
$blue3 : #253b63;
$blue4 : #112B63;
