* { margin:0;  padding:0;  box-sizing:border-box; font-weight: normal; line-height: 1.2; } 
@import "common/_var.scss";
@import "common/_mixin.scss"; 
@import "common/_normalize.scss";
@import "common/_fonts.scss";
@import "common/_fontawesome.scss";
@import "common/_slick.scss";
 
@import "common/_header.scss";
@import "common/_footer.scss";
@import "common/_copyright.scss";
@import "common/_getintouch.scss";
@import "common/_enquirenow.scss";
@import "common/_msgpopup.scss";

 

html, body {margin:0; padding:0; font-family:'futura-book', Arial, sans-serif;font-weight: 400;line-height:1.2; letter-spacing: normal;letter-spacing: normal;color: #000000;background-color: #fff;box-sizing:border-box; }
.main { display: block; float: left; width: 100%; margin: 0; padding: 0; overflow: hidden; }
.fitheight { min-height: calc(100vh - 110px); }
.warrper { display: flow-root; width: 100%; max-width: 92%; margin: 0 auto; float:none; }



/* ################### Loader ################### */
.pageloader { 
    display: none; position: fixed; left: 0; top: 0; z-index:999; width: 100%;  height: 100%; margin: 0; padding: 0; background: #424242; background: rgba(0,0,0,0.4); text-align: center; 
    div { 
        position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); 
        i.fa.fa-spinner { font-weight: 900; color:#f76a29; font-size:72px; }
    }
}

@media only screen and (min-width:1601px) 
{
  .main {display:flow-root; float:none; max-width: 1600px; margin: 0 auto; }
}

@media only screen and (max-width:1100px) 
{
  .fitheight { min-height:auto; }

}

 

