.productbedcrum { 
    width: 100%;  float: left;  padding:3rem 5% 0 5%; background: $gray;
    ul { 
        width: 100%; float: left; @include fCC();
        li {
            list-style: none; margin:0 1rem 0 0; color: $gray4; @include fmedium(); font-size: 12px; line-height: 1; letter-spacing: normal;
            a { 
                @include tdn(); @include outT();  color: $gray4;
                &:hover { color: $orange; @include inT(); }
            }
            i.fa { font-size:80%; }
            span { color: $orange; }
        }
    }
}


@media only screen and (max-width:1023px) 
{
    .productbedcrum { display: none; }
}