@keyframes fadeInDownPro {
    0% { opacity: 0; transform: translateY(-100px); }
    100% { opacity: 1; transform: none; }
}
@keyframes zoomInPro {
    0% {  transform: scale(1); }
    5% {  transform: scale(1); }
    50% {  transform: scale(1.1); }
    60% {  transform: scale(1.1); }
    100% {  transform: scale(1); }
}
.productsliderwrap { 
    background:$white; width: 100%;  float: left;  position: relative; padding:0;  overflow: hidden;
    .pro_slider {
        width: 100%; float:left; overflow: hidden; 
        .slick-list {   z-index: 2; margin: 0; padding: 0; overflow: hidden;  height: auto !important;}
        .slick-track {  display: flex; justify-content:center; align-items: stretch; height: inherit; margin: 0; padding: 0;  }
        .slick-slide { 
            height: 100%; margin: 0; padding: 0;  overflow: hidden;
            div { height: 100%; margin: 0; padding: 0; }
            .pro_item { 
                width: 100%;  float: left; position: relative;  overflow: hidden;
                .pro_short_desktop { display: block; width: 100%;   float: left;  margin: 0; padding: 0;  }
                .pro_short_mobile { display: none; width: 100%;   float: left;   margin: 0; padding: 0;  }
                h2 { z-index: 2; position: absolute; bottom: 0; right: 0; background: $white; background: rgba(255,255,255, 0.8); padding: 2rem 200px 2rem 3rem;  text-align: left; @include fbold(); color:$black2; font-size: 28px; line-height: 1;  letter-spacing: normal; text-transform:uppercase; }
            }
            &.slick-active {
                .pro_short_desktop { animation-name: zoomInPro;animation-duration: 8s; }
                .pro_short_mobile { animation-name: zoomInPro;animation-duration: 8s; }
                h2 { animation-name: fadeInDownPro;animation-duration: 1.5s;  }
            }
        }
        .slick-arrow { 
            z-index: 3; opacity:1; top:auto; bottom:1rem;  width:36px; height:36px; border-radius: 50%; margin: 0; padding: 0; border:0; line-height: 1; background-color:transparent; color:$black; @include fCC(); @include outT(); 
            &:hover {
                 background-color:transparent; color:$orange; @include inT(); 
                 &:before {  color:$orange; @include inT(); }
            }
            &.slick-disabled { opacity: 0.4; user-select: none; pointer-events:none; }
            &:before { color: $black; text-align: center; font-size:36px; line-height:0; font-family: 'fontawesome';  @include outT(); }
            &.slick-next  { 
                left: auto; right:1rem; 
                &:before { content: "\f105"; }
            } 
            &.slick-prev {
                left: auto; right:3.5rem; 
                &:before { content: "\f104"; }
            }
        }
        
 

    }
}


@media only screen and (max-width:1023px) 
{
    .productsliderwrap { 
        .pro_slider {
            width: 100%; float:left;
            .slick-arrow { 
                 bottom:1rem;  width:36px; height:36px;  background-color:$white; color:$black;  
                &:hover {
                     background-color:$orange; color:$white;  
                     &:before {  color:$white;  }
                }
                &:before { font-size:36px;  }
                &.slick-next  { right:1rem; } 
                &.slick-prev { right:3.5rem; }
            }
            .slick-slide {
                .pro_item { 
                    h2 { width: 100%; padding:2rem 100px 2rem 4%; color: $white; background: #878686;background: linear-gradient(to bottom,  #878686 0%,#878687 11%,#8b8b8b 15%,#a6a5a5 28%,#aeacac 34%,#b5b3b3 44%,#c6c2be 60%,#cac6c3 79%,#c9c6c4 100%); }
                }
            }
    
        }
    }
    
}

@media only screen and (max-width:479px) 
{
    .productsliderwrap { 
        .pro_slider {
            .slick-slide {
                .pro_item { 
                    .pro_short_desktop { display:none; }
                    .pro_short_mobile { display:block; }  
                }
            } 
        }
    }
}