.hm_aboutwrap { 
    @include fCC();  background: $orange; background-image: url('../images/bg_bott.png'); background-repeat: no-repeat; background-position: left top; width: 100%; float: left; padding:0;  
   .hm_about_web { display: block;  float: left;  width: auto; min-width: 100%;height: calc(100vh - 110px);  }
   .hm_about_mob { display: none; width: 100%;  float: left;  }
    .warrper {  
        position: absolute;  
       .hm_aboutcontainer{
            width: 100%; max-width: 600px;  float: left; 
            h2{width: 100%;  margin: 0 0 1rem 0; float: left; text-align: left; @include fbold();   color:$blue2;  font-size: 45px; line-height: 50px;}
            aside {
                width: 100%; float:right;  margin-top: 1.5rem;
                .hm_about_knowmoreBTN { 
                    padding:1rem 2rem; width:auto; float: left; background-color: $blue2;  @include fmedium(); font-weight: normal; color:$white;  text-align: center; cursor: pointer; @include tdn();  @include outT(); border-radius: 10px; font-size: 14px; letter-spacing:0.7px; line-height: 19px;
                    &:hover { background-color: $black;  color:$white; @include inT();  } 
                }
            }
       }
   }
}
 
.hm_about_slider  { float: left; width: 100%;  margin:0 !important; padding: 0 0 2.5rem 0; }
.hm_about_item {  width: 100%; float: left; text-align: left;  @include fbook(); color:$white;  font-size: 16px; line-height: 28px;  }
.hm_about_slider.slick-slider .slick-list { margin:0; padding: 0; }
.hm_about_slider.slick-slider .slick-list .slick-track { margin:0; padding: 0;  }
.hm_about_slider.slick-slider .slick-list .slick-track .slick-slide {  margin:0; padding: 0;  }

.hm_about_slider.slick-slider .slick-dots { bottom: 0;  text-align: left;   }
.hm_about_slider.slick-slider .slick-dots li { position: relative; display: inline-block; width:15px; height:15px; margin: 0 5px; padding: 0; border: none; cursor: pointer; background:$white; border-radius:50%; opacity: 0.3; }
.hm_about_slider.slick-slider .slick-dots li.slick-active { transform: scale(1); background:$white; opacity: 1; }
.hm_about_slider.slick-slider .slick-dots li button { display: none; }
 

@media only screen and (max-width:1023px) 
{
    .hm_aboutwrap { 
        padding: 4rem 0;
        .hm_about_web { display: none; }
       .warrper {    
            position: static;
           .hm_aboutcontainer{
                max-width: 100%;
                h2{ margin: 0 0 1rem 0; color:$blue2;  font-size: 28px; line-height: 30px;}
                aside {
                    .hm_about_knowmoreBTN { 
                        padding:0.7rem 1.2rem;  font-size: 12px; letter-spacing:0.6px; line-height: 15px;
                    }
                }
           }
       }
    }
   
}


@media only screen and (max-width:479px) 
{
    .hm_aboutwrap { 
        padding: 2rem 0 0 0;  flex-wrap: wrap; @include fCC();  background-image:none;  background: $orange;
       .hm_about_web { display: none; }
       .hm_about_mob { display: block; }
    }
}