.container404 { 
    background: $black3; width: 100%; min-height: calc(100vh - 165px);  float: left; padding:0;  @include fCC(); 
    .container404-inner { 
        width:95%; max-width: 450px; margin: 0 auto; float:none;
        img { width: 100%; float: left;  }
        p { margin: 2rem 0 2rem 0; width: 100%; float: left; text-align: center;  @include latosemibold(); color: $white2; font-size: 14px; line-height: 26px; }
        aside { 
            width: 100%; float: left; @include fCS(); 
            a { 
                position: relative; width: 175px; height:44px; padding:0;  @include fCC();  background-color: $green4;  @include latosemibold();  line-height: 1; font-size: 16px; font-weight: 400; color:$white;  text-align: center;cursor: pointer;  overflow: hidden; text-decoration: none;
                b { position: relative; z-index: 2; }
                &:after { content:''; z-index: 1; position: absolute; left: -100%; top: 0; width: 100%; height: 100%; background-color: $green;  @include outT();  }
                 &:hover {  
                      &:after { left: 0; @include inT(); }
                  }
             }
        }
    }
}



@media only screen and (max-width:1255px) 
{
 .container404 {  
    min-height: calc(100vh - 132px); 
 }

}
@media only screen and (max-width:599px) 
{
    .container404 {  
        padding: 2rem 0; min-height: calc(100vh - 140px); 
        .container404-inner { 
             max-width:300px;
            p { margin: 1.5rem 0; font-size: 12px; line-height: 24px; }
            aside { 
                a { width: 138px; height:36px;  font-size: 14px;  }
            }
        }
     }
}

@media only screen and (max-width:479px) 
{
    .container404 {  
        .container404-inner { 
            max-width:280px;
        }
     }
}
