 .homeadvantage { 
    background:$white; width: 100%;  float: left; padding:4rem 0;  
   .warrper { 
        @include fBC();
       .homeadvantageleft { 
            width:30%;  float: left; 
            h2{width: 100%; float: left; text-align: left; @include fmedium(); color:$black5; font-size: 30px; line-height: 1;  letter-spacing: normal;    }
            h3{
                width: 100%; margin:0.7rem 0;  float: left; text-align: left;  color:$blue; font-size: 40px; line-height:1;  letter-spacing: normal;  @include flt(); 
                span { @include fbold();  }
            }
            h4 { width: 100%; float: left; text-align: left; @include flt(); font-weight: 500; color:$black5; font-size: 40px; line-height: 1; letter-spacing: normal; }
            aside {
                width: 100%; float:right; text-align: left; margin-top:2rem;
                a { 
                    display: inline-block; padding:0; width:auto; float: none; margin: 0; background-color:transparent;  text-align: center; cursor: pointer; @include tdn();   
                    span { margin-right: 0.5rem; @include fmedium();   color:$black5;  font-size: 14px; letter-spacing:0.24px; line-height: 1; text-transform: uppercase;  @include outT();  }
                    img { max-width: 100%; margin-bottom: -2px; @include outT(); }
                    &:hover { 
                        span { color:$orange; @include inT();   }
                        img { filter: invert(60%) sepia(30%) saturate(1000%) hue-rotate(350deg); @include inT(); }
                    } 
                }
            } 
       }
       .homeadvantageright { 
            width:65%;  float: right; 
            .homeadvantageslider{  
                width: 100%;  float: right;  overflow:hidden; margin:0 !important; padding:0 !important;  @include fCS(); align-items: stretch; 
                .homeadvantagebox { 
                    width: 25%;  padding:0.5rem 0 1rem 0; float: left;  border-right: solid 2px $gray5;
                    &:last-child { border-right: none; }
                    aside { 
                        width: 100%; margin: 0 0 1rem 0; float: left; text-align: center; 
                        img { max-width: 100%; }
                    }
                    p { width: 100%;  float: left;  text-align: center; @include fmedium(); color:$black6; font-size: 11px; line-height:14px; letter-spacing: 0.55px; }
                } 
            }
       }
   }
}


 

@media only screen and (max-width:1300px) 
{
    .homeadvantage { 
        padding:3rem 0;  
       .warrper { 
           .homeadvantageleft { 
                width:35%;  
                h2{ font-size: 23px;  }
                h3{ margin:0.5rem 0;  font-size: 32px; }
                h4 { font-size:32px;  }
                aside { margin-top:1.5rem; } 
           }
           .homeadvantageright { 
                width:62%;  
                .homeadvantageslider{  
                    .homeadvantagebox { border-right: solid 1px $gray5; } 
                }
           }
       }
    }
}

@media only screen and (max-width:1023px) 
{
    .homeadvantage {  
       .warrper { 
            flex-wrap: wrap;
           .homeadvantageleft { 
                width:100%; margin-bottom: 2rem;  
                h2{ text-align: center;  }
                h3{ text-align: center;   }
                h4 { text-align: center;   }
                aside { text-align: center;   } 
            }
           .homeadvantageright { width:100%;  }
       }
    }

}


@media only screen and (max-width:599px) 
{
    .homeadvantage {  
       .warrper { 
        .homeadvantageleft { margin-bottom: 1rem;   }
           .homeadvantageright { 
                .homeadvantageslider.slick-slider {
                    .slick-list {   
                        z-index: 2; margin: 0; padding: 0; overflow: hidden; 
                        .slick-track {  
                            display: flex; justify-content:center; align-items: stretch; height: inherit; margin: 0; padding: 0;  
                            .slick-slide { 
                                height: 100%; margin: 0; padding: 0; height: inherit; 
                                div { height: 100%; margin: 0; padding: 0; }
                                .homeadvantagebox { 
                                    width: 100%; padding:0; float: left; background-color:none; border: none; 
                                    aside { 
                                        text-align: center; margin: 0 0 0.5rem 0;
                                        img { max-width: 100%; display: inline-block; float: none; margin: 0 auto; }
                                    }
                                    p {  text-align: center;  }
                                }
                            }
                        }
                    }
                }
            }
       }
    }
}