 .homestatemanufacturing { 
    position: relative;  background:$white; width: 100%;  float: left;  
    .hsm_desktop { display: block; width: 100%; height: 100%; float: left; object-fit: fill; }
    .hsm_ipad { display: none; width: 100%; height: 100%; float: left; object-fit: fill; }
    .hsm_mobile { display: none; width: 100%; height: 100%; float: left; object-fit: fill; }

       .home_sm_container { 
            z-index: 2; position: absolute; left:50%; top: 50%; transform: translate(-50%, -50%); height: auto; width:90%; float: left; margin: 0; padding: 0;
            h2 {
                width: 100%; float: left; text-align: center; @include fmedium(); color:$orange; font-size: 40px; line-height: 1;  letter-spacing: 0.8px; 
                span { display: block; color: $white; @include fbold(); }
            }
            h3 { width: 100%; float: left; margin: 3rem 0 2rem 0; text-align: center; @include flt(); font-weight: 500; color:$white; font-size: 16px; line-height:27px; letter-spacing: 0.96px; }
            aside {
                width: 100%; float:right; text-align: center;
                span { 
                    @include fCC(); cursor: pointer; width: auto; margin: 0 auto;
                    img { max-width: 100%; margin-right: 0.7rem;  @include outT();  }
                    b {  @include fmedium(); color:$white; font-size: 12px; line-height:1; letter-spacing:0.24px;  @include outT();  }
                    &:hover { 
                        img {  @include inT();  }
                        b {  color:$orange; @include inT();     }
                    }
                } 
            } 
       }

       .home_sm_video_wrap {
           display: none; z-index: 3; position: absolute; left:0; top: 0; height: 100%; width:100%; float: left; margin: 0; padding: 0; background: $white url('../images/loading.gif') no-repeat center center;
           aside { 
                z-index: 3; position: absolute;  right:0; top:0; height:40px; width:40px; background-color: $orange; cursor: pointer;   @include outT(); color: $white; @include fCC(); font-size: 24px;
                &:hover { background-color: $blue; color: $white; @include inT(); }
            }
           iframe { z-index: 2; position: relative; height: 100%; width:100%; float: left; margin: 0; padding: 0; border: 0; }
       }

   }
 

@media only screen and (max-width:1023px) 
{
    .homestatemanufacturing {  
        .hsm_desktop { display: none;  }
        .hsm_ipad { display: block;  }
        .hsm_mobile { display: none;   }
        .home_sm_container { 
            h2 {font-size:28px; }
            h3 { margin:1rem 0; font-size: 15px; }
       }
    }

}


@media only screen and (max-width:479px) 
{
    .homestatemanufacturing {  
        .hsm_desktop { display: none;  }
        .hsm_ipad { display: none;  }
        .hsm_mobile { display: block; }
        .home_sm_container { 
            h2 {font-size:32px; line-height: 1.1;  letter-spacing:0.66px; }
            h3 { margin:2rem 0 1rem 0; font-size: 17px; line-height:27px; letter-spacing:1.02px; }
            aside {
                span { 
                    img {  margin-right: 0.5rem;  }
                } 
            } 
       }
    }
    
}