.msgcontainer { 
    display:none; z-index:9; position: fixed; left: 0; top: 0; height: 100%; width: 100%; background-color: $black; background:#000000E0; 
    section { 
        display: block;  z-index:2;  position:absolute; left:50%; top:50%; transform: translate(-50%, -50%); width: 95%; max-width:380px; height: auto;  max-height: 90%; background:$white; border-radius:10px; margin:0 auto; padding:2rem;  
        h2 { width: 100%; float: left; text-align: center; color:$black; line-height: 1.2; font-size:18px;  @include fmedium(); }
        h3 { margin-top:0.5rem; width: 100%; float: left; text-align: center; color:$black2; line-height: 1.2; font-size:16px;  @include fbook(); }
        p { 
            margin-top: 1rem; width: 100%; float: left; text-align:center; @include fCS();
           span { 
               float: none; width: auto; height: auto; display: inline-block; margin: 0 auto;     padding: 0.7rem 2rem; border-radius: 25px; background-color:$orange; line-height: 1; font-size: 16px;  color:$white;  text-align: center; @include outT(); cursor: pointer; overflow: hidden; @include fbook();
                &:hover { background-color:$blue; color:$white;  @include inT(); }
            }
        }
    }
 }



@media only screen and (max-width:1023px) 
{
 
}