
.videopopup {
    display: none; z-index: 5; position: fixed; left:0; top: 0; height: 100%; width:100%; float: left; margin: 0; padding: 0; background:$black; background:rgba(0,0,0,0.8);
    section {z-index:2; position: fixed; left: 50%;top: 50%; transform: translate(-50%, -50%); height: 100%; width: 100%; max-width: 740px; max-height: 416px; margin: 0; padding: 0; border: 0; background:$white url('../images/loading.gif') no-repeat center center;}
    aside { 
         z-index: 3; position: absolute;  right:0; top:0; height:40px; width:40px; background-color: $orange; cursor: pointer;   @include outT(); color: $white; @include fCC(); font-size: 24px;
         &:hover { background-color: $blue; color: $white; @include inT(); }
     }
    iframe { z-index: 2; position: relative; height: 100%; width:100%; float: left; margin: 0; padding: 0; border: 0; }
}


@media only screen and (max-width:676px) 
{
 
       .videopopup {
            section { max-width: 450px; max-height: 253px; }
            aside {  height:32px; width:32px; font-size: 20px; }
        }

 

}


@media only screen and (max-width:479px) 
{
 
       .videopopup {
            section { max-width: 320px; max-height: 180px;  }
        }
    
    
}


@media only screen and (max-width:359px) 
{
 
       .videopopup {
            section { max-width: 290px; max-height: 165px;  }
        }
}