/* ######################## resultsWrap ######################## */
.serchwrap { 
    width: 100%; float: left; padding:3rem 0; background-color:$white; @include fCC(); flex-wrap: wrap;
}

/* searchresults */
.searchresult { 
    width: 90%; max-width: 1000px;  float: none; margin:0 auto; padding:0;  display: inline-block;
    h2 { 
        width: 100%; float: left; margin-bottom: 2rem; text-align: left; font-size: 24px; line-height:1.4; letter-spacing: normal; color: $black; @include fmedium();
        span { display: inline-block; font-size: 110%; font-weight: bold;  @include fbold(); color: $orange;  }
    }
    ul {
        width: 100%; float: left;
        li { 
            width: 100%; float: left; padding: 1.5rem 0; list-style: none; border-bottom: solid 1px $black2;
            &:last-child { border-bottom: none; }
            h3 { width: 100%; float: left; text-align: left; font-size: 18px; line-height: 1; color: $black2; @include fmedium();  }
            p { width: 100%; float: left;  margin:0.5rem 0; text-align: left; font-size: 16px; line-height: 1.3; color: $black; @include fbook();}
            aside { 
                width: 100%; float: left; margin:0.2rem 0 0 0;
                a { 
                    text-decoration: underline; color: $orange; @include outT(); font-size: 16px; line-height: 1.3; @include fbook();
                    &:hover { 
                        color: $blue; @include inT(); 
                    }
                }
            }
        }
    }
}
 

/* searchnotfound */
.searchnotfound { 
    width: 90%; max-width: 500px;  float: none; margin:0 auto; padding:0;  display: inline-block;
    h2 { 
        width: 100%; float: left; margin:0 0 2rem 0; text-align: left; font-size: 22px; line-height:1.4; letter-spacing: normal; color: $black; @include fmedium(); font-weight: bold;
        span { display: inline-block; font-size: 110%; @include fbold(); color: $orange;  }
    }
    ul {
        width: 100%; float: left;
        li { 
             margin: 0rem 0 1rem 1.3rem; list-style: disc;  text-align: left;font-size: 18px; line-height: 1.3; color: $black; @include fbook();
            a { 
                text-decoration: underline; color: $orange; @include outT();  
                &:hover { color: $blue; @include inT(); }
            }
        }
    }
}
 




 


@media only screen and (max-width:1023px) 
{
    /* ######################## serchwrap ######################## */
        /* searchresults */
        .searchresult { 
            h2 { 
            margin-bottom: 1rem; font-size: 20px; line-height:26px; 
            }
            ul {
                li { 
                    padding: 1rem 0; 
                    h3 { font-size: 16px;   }
                    p {  margin:0.3rem 0 0.5rem 0;  font-size: 14px;  }
                    aside { 
                        a { font-size: 14px; }
                    }
                }
            }
        }

        /* searchnotfound */
        .searchnotfound { 
            margin:1rem auto;  
            h2 { font-size: 20px;   }
            ul {
                li { font-size: 16px;  }
            }
        }
    


}



@media only screen and (max-width:479px) 
{
 
 

}

 