@keyframes fadeInUpBanner {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDownBanner {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeftBanner {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomInBanner {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOutBanner {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.product_banner {
  background-color: #ffffff;
  width: 100%;
  float: left;
  position: relative;
}
.product_banner .product_banner_counter {
  z-index: 3;
  position: absolute;
  opacity: 1;
  top: auto;
  bottom: 10%;
  left: 12%;
  width: 80px;
  height: 2px;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background: #ffffff;
}
.product_banner .product_banner_counter span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: auto;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  color: #ffffff;
  font-family: "futura-medium", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
}
.product_banner .product_banner_counter span:first-child {
  left: -30px;
}
.product_banner .product_banner_counter span:last-child {
  right: -30px;
}
.product_banner .product_banner_slider.slick-slider {
  width: 100%;
  float: right;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.product_banner .product_banner_slider.slick-slider .slick-list {
  z-index: 2;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.product_banner .product_banner_slider.slick-slider .slick-track {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: inherit;
  margin: 0;
  padding: 0;
}
.product_banner .product_banner_slider.slick-slider .slick-slide {
  margin: 0;
  padding: 0;
}
.product_banner .product_banner_slider.slick-slider .slick-slide div {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.product_banner .product_banner_slider.slick-slider .slick-arrow {
  z-index: 3;
  opacity: 1;
  top: auto;
  bottom: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-out;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.product_banner .product_banner_slider.slick-slider .slick-arrow:hover {
  background-color: #E94E20;
  color: #ffffff;
  transition: all 0.4s ease-in;
}
.product_banner .product_banner_slider.slick-slider .slick-arrow.slick-disabled {
  opacity: 0.4;
  user-select: none;
  pointer-events: none;
}
.product_banner .product_banner_slider.slick-slider .slick-next {
  left: auto;
  right: 20px;
}
.product_banner .product_banner_slider.slick-slider .slick-prev {
  left: auto;
  right: 80px;
}
.product_banner .product_banner_slider.slick-slider .slick-arrow:before {
  color: #000000;
  text-align: center;
  font-size: 36px;
  line-height: 0;
  font-family: "fontawesome";
  transition: all 0.4s ease-out;
}
.product_banner .product_banner_slider.slick-slider .slick-arrow:hover:before {
  color: #ffffff;
  transition: all 0.4s ease-in;
}
.product_banner .product_banner_slider.slick-slider .slick-next:before {
  content: "\f107";
}
.product_banner .product_banner_slider.slick-slider .slick-prev:before {
  content: "\f106";
}
.product_banner .product_banner_item {
  position: relative;
  width: 100%;
  float: left;
}
.product_banner .product_banner_item:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 45%;
  background: url("../images/banner-design-web.png") no-repeat top left;
  background-size: 100% 100%;
}
.product_banner .product_banner_item .product_banner_desktop {
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.product_banner .product_banner_item .product_banner_mobile {
  z-index: 1;
  position: relative;
  display: none;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.product_banner .product_banner_item .product_banner_container {
  position: absolute;
  z-index: 3;
  top: 25%;
  left: 10%;
  width: 1000px;
  height: auto !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_banner .product_banner_item .product_banner_container .product_banner_left {
  width: 60%;
  float: left;
}
.product_banner .product_banner_item .product_banner_container .product_banner_left h4 {
  width: 100%;
  float: left;
  text-align: left;
  font-family: "futura-bold", Arial, sans-serif;
  font-weight: 700;
  color: #E94E20;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: normal;
  text-transform: uppercase;
}
.product_banner .product_banner_item .product_banner_container .product_banner_left p {
  width: 100%;
  float: left;
  text-align: left;
  font-family: "futura-medium", Arial, sans-serif;
  font-weight: 600;
  font-weight: normal;
  color: #ffffff;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.product_banner .product_banner_item .product_banner_container .product_banner_left p b {
  display: block;
  font-family: "futura-bold", Arial, sans-serif;
  font-weight: 700;
}
.product_banner .product_banner_item .product_banner_container .product_banner_left aside {
  width: 100%;
  float: right;
  margin-top: 2rem;
}
.product_banner .product_banner_item .product_banner_container .product_banner_left aside .bs_knowmore {
  padding: 0.8rem 3rem;
  width: auto;
  float: left;
  background-color: #E94E20;
  font-family: "futura-medium", Arial, sans-serif;
  font-weight: 600;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease-out;
  border-radius: 25px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 21px;
  text-transform: uppercase;
}
.product_banner .product_banner_item .product_banner_container .product_banner_left aside .bs_knowmore:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.4s ease-in;
}
.product_banner .product_banner_item .product_banner_container .product_banner_right {
  width: 35%;
  float: left;
}
.product_banner .product_banner_item .product_banner_container .product_banner_right img {
  width: 100%;
  max-width: 250px;
}
.product_banner .slick-active .product_banner_item .product_banner_desktop {
  animation-name: zoomInBanner;
  animation-duration: 8s;
}
.product_banner .slick-active .product_banner_item .product_banner_mobile {
  animation-name: zoomInBanner;
  animation-duration: 8s;
}
.product_banner .slick-active .product_banner_item .product_banner_container .product_banner_left h4 {
  animation-name: fadeInDownBanner;
  animation-duration: 1.5s;
}
.product_banner .slick-active .product_banner_item .product_banner_container .product_banner_left p {
  animation-name: fadeInDownBanner;
  animation-duration: 1.5s;
}
.product_banner .slick-active .product_banner_item .product_banner_container .product_banner_left aside {
  animation-name: fadeInUpBanner;
  animation-duration: 1.5s;
}
.product_banner .slick-active .product_banner_item .product_banner_container .product_banner_right img {
  animation-name: fadeInLeftBanner;
  animation-duration: 1.5s;
}

@media only screen and (max-width: 1255px) {
  .product_banner .product_banner_item .product_banner_container {
    top: 25%;
    left: 10%;
    width: 80%;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_left {
    width: 60%;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_right {
    width: 40%;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_right img {
    max-width: 180px;
  }
}
@media only screen and (max-width: 1023px) {
  .product_banner .product_banner_counter {
    display: none;
  }
  .product_banner .product_banner_item .product_banner_container {
    top: 20%;
    left: 10%;
    width: 80%;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_left {
    width: 60%;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_left h4 {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: normal;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_left p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_left aside {
    margin-top: 1rem;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_left aside .bs_knowmore {
    padding: 0.6rem 1.5rem;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_right {
    width: 40%;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_right img {
    max-width: 130px;
  }
  .product_banner .product_banner_slider.slick-slider .slick-arrow {
    bottom: 0;
    width: 42px;
    height: 42px;
    background: #ffffff;
  }
  .product_banner .product_banner_slider.slick-slider .slick-next {
    right: 1rem;
  }
  .product_banner .product_banner_slider.slick-slider .slick-prev {
    right: 4rem;
  }
  .product_banner .product_banner_slider.slick-slider .slick-arrow:before {
    font-size: 24px;
  }
}
@media only screen and (max-width: 599px) {
  .product_banner .product_banner_item .product_banner_container {
    top: 10%;
    left: 5%;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_left {
    width: 70%;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_right {
    width: 30%;
  }
}
@media only screen and (max-width: 479px) {
  .product_banner .product_banner_item:after {
    width: 60%;
    background: url("../images/banner-design-mob.png") no-repeat top left;
    background-size: 100% 100%;
  }
  .product_banner .product_banner_item .product_banner_desktop {
    display: none;
  }
  .product_banner .product_banner_item .product_banner_mobile {
    display: block;
  }
  .product_banner .product_banner_item .product_banner_container {
    top: 10%;
    left: 5%;
    width: 90%;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_left {
    width: 100%;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_left h4 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: normal;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_left p {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 4px;
  }
  .product_banner .product_banner_item .product_banner_container .product_banner_right {
    display: none;
    width: 100%;
  }
}
.productbedcrum {
  width: 100%;
  float: left;
  padding: 3rem 5% 0 5%;
  background: #F0F0F0;
}
.productbedcrum ul {
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productbedcrum ul li {
  list-style: none;
  margin: 0 1rem 0 0;
  color: #6C6C6C;
  font-family: "futura-medium", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  letter-spacing: normal;
}
.productbedcrum ul li a {
  text-decoration: none;
  transition: all 0.4s ease-out;
  color: #6C6C6C;
}
.productbedcrum ul li a:hover {
  color: #E94E20;
  transition: all 0.4s ease-in;
}
.productbedcrum ul li i.fa {
  font-size: 80%;
}
.productbedcrum ul li span {
  color: #E94E20;
}

@media only screen and (max-width: 1023px) {
  .productbedcrum {
    display: none;
  }
}
.productinfo {
  background: #F0F0F0 url("../images/product/bottom_bg.png") no-repeat center bottom;
  background-size: auto 60%;
  width: 100%;
  float: left;
  position: relative;
  padding: 5rem 0;
}
.productinfo .warrper .productinfoleft {
  width: 30%;
  float: left;
}
.productinfo .warrper .productinfoleft .productinfoslider {
  width: 100%;
  float: left;
}
.productinfo .warrper .productinfoleft .productinfoslider .slick-list {
  z-index: 2;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: auto !important;
}
.productinfo .warrper .productinfoleft .productinfoslider .slick-list .slick-track {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: inherit;
  margin: 0;
  padding: 0;
}
.productinfo .warrper .productinfoleft .productinfoslider .slick-list .slick-track .slick-slide {
  height: 100%;
  margin: 0;
  padding: 0;
  height: inherit;
}
.productinfo .warrper .productinfoleft .productinfoslider .slick-list .slick-track .slick-slide div {
  height: 100%;
  margin: 0;
  padding: 0;
}
.productinfo .warrper .productinfoleft .productinfoslider .slick-dots {
  z-index: 2;
  bottom: -2rem;
}
.productinfo .warrper .productinfoleft .productinfoslider .slick-dots li {
  position: relative;
  margin: 0 5px;
  padding: 0;
  border: none;
  width: 8px;
  height: 8px;
  background: #c0c0c0;
  border-radius: 50%;
  cursor: pointer;
}
.productinfo .warrper .productinfoleft .productinfoslider .slick-dots li button {
  display: none;
}
.productinfo .warrper .productinfoleft .productinfoslider .slick-dots li.slick-active {
  background: #152c55;
}
.productinfo .warrper .productinfoleft .productinfoslider .productinfoitem {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  text-align: left;
}
.productinfo .warrper .productinfoleft .productinfoslider .productinfoitem img {
  width: 100%;
}
.productinfo .warrper .productinfoleft .pinfo_short_mobile {
  display: none;
  margin-top: 2rem;
  width: 100%;
  float: left;
  text-align: center;
}
.productinfo .warrper .productinfoleft .pinfo_short_mobile img {
  width: 100%;
  max-width: 350px;
}
.productinfo .warrper .productinforight {
  width: 65%;
  float: right;
}
.productinfo .warrper .productinforight h2 {
  width: 100%;
  margin: 0 0 1rem 0;
  float: left;
  text-align: left;
  font-family: "futuraLT", Arial, sans-serif;
  font-weight: 300;
  color: #E94E20;
  font-size: 40px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
}
.productinfo .warrper .productinforight h2 span {
  font-family: "futura-bold", Arial, sans-serif;
  font-weight: 700;
  color: #152c55;
}
.productinfo .warrper .productinforight p {
  width: 100%;
  float: left;
  text-align: left;
  font-family: "futuraLT", Arial, sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.96px;
}
.productinfo .warrper .productinforight .pinfo_short_desktop {
  display: block;
  margin-top: 3rem;
  width: 100%;
  float: left;
  text-align: left;
}
.productinfo .warrper .productinforight .pinfo_short_desktop img {
  max-width: 100%;
}

@media only screen and (max-width: 1023px) {
  .productinfo {
    background-size: 220% auto;
    padding: 3rem 0;
  }
  .productinfo .warrper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .productinfo .warrper .productinfoleft {
    width: 100%;
    max-width: 350px;
    float: none;
    display: inline-block;
    margin: 0 auto;
  }
  .productinfo .warrper .productinfoleft .productinfoslider {
    width: 100%;
    float: left;
  }
  .productinfo .warrper .productinfoleft .pinfo_short_mobile {
    display: block;
  }
  .productinfo .warrper .productinforight {
    width: 100%;
    margin-bottom: 2rem;
  }
  .productinfo .warrper .productinforight h2 {
    text-align: center;
  }
  .productinfo .warrper .productinforight p {
    text-align: center;
  }
  .productinfo .warrper .productinforight .pinfo_short_desktop {
    display: none;
  }
}
@keyframes fadeInDownPro {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomInPro {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.productsliderwrap {
  background: #ffffff;
  width: 100%;
  float: left;
  position: relative;
  padding: 0;
  overflow: hidden;
}
.productsliderwrap .pro_slider {
  width: 100%;
  float: left;
  overflow: hidden;
}
.productsliderwrap .pro_slider .slick-list {
  z-index: 2;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: auto !important;
}
.productsliderwrap .pro_slider .slick-track {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: inherit;
  margin: 0;
  padding: 0;
}
.productsliderwrap .pro_slider .slick-slide {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.productsliderwrap .pro_slider .slick-slide div {
  height: 100%;
  margin: 0;
  padding: 0;
}
.productsliderwrap .pro_slider .slick-slide .pro_item {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}
.productsliderwrap .pro_slider .slick-slide .pro_item .pro_short_desktop {
  display: block;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.productsliderwrap .pro_slider .slick-slide .pro_item .pro_short_mobile {
  display: none;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.productsliderwrap .pro_slider .slick-slide .pro_item h2 {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem 200px 2rem 3rem;
  text-align: left;
  font-family: "futura-bold", Arial, sans-serif;
  font-weight: 700;
  color: #565659;
  font-size: 28px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
}
.productsliderwrap .pro_slider .slick-slide.slick-active .pro_short_desktop {
  animation: zoomInPro 10s infinite;
}
.productsliderwrap .pro_slider .slick-slide.slick-active .pro_short_mobile {
  animation: zoomInPro 7s infinite;
}
.productsliderwrap .pro_slider .slick-slide.slick-active h2 {
  animation-name: fadeInDownPro;
  animation-duration: 1.5s;
}
.productsliderwrap .pro_slider .slick-arrow {
  z-index: 3;
  opacity: 1;
  top: auto;
  bottom: 1rem;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  background-color: transparent;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-out;
}
.productsliderwrap .pro_slider .slick-arrow:hover {
  background-color: transparent;
  color: #E94E20;
  transition: all 0.4s ease-in;
}
.productsliderwrap .pro_slider .slick-arrow:hover:before {
  color: #E94E20;
  transition: all 0.4s ease-in;
}
.productsliderwrap .pro_slider .slick-arrow.slick-disabled {
  opacity: 0.4;
  user-select: none;
  pointer-events: none;
}
.productsliderwrap .pro_slider .slick-arrow:before {
  color: #000000;
  text-align: center;
  font-size: 36px;
  line-height: 0;
  font-family: "fontawesome";
  transition: all 0.4s ease-out;
}
.productsliderwrap .pro_slider .slick-arrow.slick-next {
  left: auto;
  right: 1rem;
}
.productsliderwrap .pro_slider .slick-arrow.slick-next:before {
  content: "\f105";
}
.productsliderwrap .pro_slider .slick-arrow.slick-prev {
  left: auto;
  right: 3.5rem;
}
.productsliderwrap .pro_slider .slick-arrow.slick-prev:before {
  content: "\f104";
}

@media only screen and (max-width: 1023px) {
  .productsliderwrap .pro_slider {
    width: 100%;
    float: left;
  }
  .productsliderwrap .pro_slider .slick-arrow {
    bottom: 1rem;
    width: 36px;
    height: 36px;
    background-color: #ffffff;
    color: #000000;
  }
  .productsliderwrap .pro_slider .slick-arrow:hover {
    background-color: #E94E20;
    color: #ffffff;
  }
  .productsliderwrap .pro_slider .slick-arrow:hover:before {
    color: #ffffff;
  }
  .productsliderwrap .pro_slider .slick-arrow:before {
    font-size: 36px;
  }
  .productsliderwrap .pro_slider .slick-arrow.slick-next {
    right: 1rem;
  }
  .productsliderwrap .pro_slider .slick-arrow.slick-prev {
    right: 3.5rem;
  }
  .productsliderwrap .pro_slider .slick-slide .pro_item h2 {
    width: 100%;
    padding: 2rem 100px 2rem 4%;
    color: #ffffff;
    background: #878686;
    background: linear-gradient(to bottom, #878686 0%, #878687 11%, #8b8b8b 15%, #a6a5a5 28%, #aeacac 34%, #b5b3b3 44%, #c6c2be 60%, #cac6c3 79%, #c9c6c4 100%);
  }
}
@media only screen and (max-width: 479px) {
  .productsliderwrap .pro_slider .slick-slide .pro_item .pro_short_desktop {
    display: none;
  }
  .productsliderwrap .pro_slider .slick-slide .pro_item .pro_short_mobile {
    display: block;
  }
}
.decaedgetechnology {
  position: relative;
  background: #ffffff;
  width: 100%;
  float: left;
  position: relative;
  padding: 0;
  overflow: hidden;
}
.decaedgetechnology .decaedgetech_desktop {
  display: block;
  width: 57%;
  float: left;
  padding: 0;
  margin: 0;
}
.decaedgetechnology .decaedgetech_mobile {
  display: none;
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}
.decaedgetechnology .warrper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.decaedgetechnology .warrper .decaedgetech_content {
  float: right;
  width: 35%;
  clear: both;
  margin-top: -4rem;
}
.decaedgetechnology .warrper .decaedgetech_content h2 {
  width: 100%;
  margin: 0 0 1.5rem 0;
  float: left;
  text-align: left;
  font-family: "futura-medium", Arial, sans-serif;
  font-weight: 600;
  color: #E94E20;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  text-transform: none;
}
.decaedgetechnology .warrper .decaedgetech_content p {
  width: 100%;
  float: left;
  text-align: left;
  font-family: "futuraLT", Arial, sans-serif;
  font-weight: 300;
  color: #565659;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.96px;
}
.decaedgetechnology .warrper .decaedgetech_bottom {
  position: absolute;
  bottom: 2rem;
  right: 0;
  width: 60%;
  float: left;
  background: #ffffff;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.decaedgetechnology .warrper .decaedgetech_bottom h3 {
  text-align: left;
  font-family: "futuraLT", Arial, sans-serif;
  font-weight: 300;
  color: #565659;
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: 1.5px;
  text-transform: none;
}
.decaedgetechnology .warrper .decaedgetech_bottom h3 span {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}
.decaedgetechnology .warrper .decaedgetech_bottom aside {
  float: right;
  padding-left: 1rem;
}
.decaedgetechnology .warrper .decaedgetech_bottom aside i.fa {
  font-size: 32px;
  color: #565659;
}

@media only screen and (max-width: 1300px) {
  .decaedgetechnology .decaedgetech_desktop {
    width: 60%;
  }
  .decaedgetechnology .warrper {
    max-width: 92%;
  }
}
@media only screen and (max-width: 1255px) {
  .decaedgetechnology .decaedgetech_desktop {
    display: none;
  }
  .decaedgetechnology .warrper {
    position: static;
    top: 0;
    left: 0;
    transform: none;
    max-width: 100%;
    align-items: flex-start;
  }
  .decaedgetechnology .warrper .decaedgetech_content {
    width: 100%;
    margin: 0;
    width: 100%;
    padding: 3rem 4%;
  }
  .decaedgetechnology .warrper .decaedgetech_content h2 {
    text-align: center;
  }
  .decaedgetechnology .warrper .decaedgetech_content p {
    text-align: center;
  }
  .decaedgetechnology .warrper .decaedgetech_bottom {
    background: #f8f8f8;
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1.5rem 4%;
    bottom: 0;
  }
  .decaedgetechnology .warrper .decaedgetech_bottom h3 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1.2px;
  }
  .decaedgetechnology .warrper .decaedgetech_bottom h3 span {
    display: inline;
  }
  .decaedgetechnology .warrper .decaedgetech_bottom aside i.fa {
    font-size: 24px;
  }
}
@media only screen and (max-width: 479px) {
  .decaedgetechnology .decaedgetech_desktop {
    display: none;
  }
  .decaedgetechnology .decaedgetech_mobile {
    display: block;
  }
  .decaedgetechnology .warrper .decaedgetech_content {
    padding: 2rem 4%;
  }
  .decaedgetechnology .warrper .decaedgetech_bottom {
    padding: 1rem 4%;
  }
}
.productspecification {
  background: #F0F0F0;
  width: 100%;
  float: left;
  padding: 3rem 0;
}
.productspecification .ps_header {
  width: 100%;
  float: left;
  padding: 0 0 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.productspecification .ps_header .ps_head_left {
  width: auto;
  float: left;
}
.productspecification .ps_header .ps_head_left h2 {
  width: 100%;
  float: left;
  margin-bottom: 1rem;
  text-align: left;
  color: #777777;
  font-size: 35px;
  line-height: 1.3;
  font-family: "futura-bold", Arial, sans-serif;
  font-weight: 700;
}
.productspecification .ps_header .ps_head_left ul {
  width: 100%;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-items: stretch;
}
.productspecification .ps_header .ps_head_left ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  color: #333333;
  font-size: 13px;
  line-height: 1.3;
  letter-spacing: 0.18px;
  font-family: "futura-medium", Arial, sans-serif;
  font-weight: 600;
}
.productspecification .ps_header .ps_head_left ul li.ps_head_line {
  width: 1px;
  margin: 0 2rem;
  background-color: #333333;
  line-height: 1;
  font-size: 0;
}
.productspecification .ps_header .ps_head_left ul li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease-out;
  color: #333333;
}
.productspecification .ps_header .ps_head_left ul li a img {
  max-height: 16px;
  filter: none;
  transition: all 0.4s ease-out;
}
.productspecification .ps_header .ps_head_left ul li a span {
  margin-left: 0.7rem;
  color: #333333;
  font-family: "futura-medium", Arial, sans-serif;
  font-weight: 600;
}
.productspecification .ps_header .ps_head_left ul li a:hover {
  transition: all 0.4s ease-in;
  color: #E94E20;
}
.productspecification .ps_header .ps_head_left ul li a:hover img {
  filter: invert(100%) saturate(10000%);
  transition: all 0.4s ease-in;
}
.productspecification .ps_header .ps_head_left ul li a:hover span {
  color: #E94E20;
}
.productspecification .ps_header .ps_head_right {
  width: auto;
  float: right;
  text-align: right;
}
.productspecification .ps_header .ps_head_right img {
  max-width: 100%;
}
.productspecification .ps_container {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.productspecification .ps_container ul {
  width: 48%;
}
.productspecification .ps_container ul.ps_cont_left {
  float: left;
}
.productspecification .ps_container ul.ps_cont_right {
  float: right;
}
.productspecification .ps_container ul li {
  width: 100%;
  float: left;
  list-style: none;
  padding: 0.8rem 0.3rem;
  border-top: solid 1px #c0c0c0;
}
.productspecification .ps_container ul li.nobordertop {
  border-top: none;
}
.productspecification .ps_container ul li.bordetoprorange {
  border-top: solid 2px #E94E20;
}
.productspecification .ps_container ul li span {
  width: 50%;
  float: left;
  text-align: left;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  color: #555658;
  font-size: 13px;
  line-height: 1.2;
}
.productspecification .ps_container ul li span b {
  font-family: "futura-bold", Arial, sans-serif;
  font-weight: 700;
}
.productspecification .ps_container ul li span em {
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  font-style: italic;
}

@media only screen and (max-width: 767px) {
  .productspecification {
    padding: 3rem 0;
  }
  .productspecification .ps_header {
    padding: 0 0 3rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .productspecification .ps_header .ps_head_left {
    width: 100%;
  }
  .productspecification .ps_header .ps_head_left h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: normal;
  }
  .productspecification .ps_header .ps_head_left h2 span {
    display: block;
  }
  .productspecification .ps_header .ps_head_left ul {
    justify-content: center;
  }
  .productspecification .ps_header .ps_head_left ul li {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.17px;
  }
  .productspecification .ps_header .ps_head_left ul li.ps_head_line {
    margin: 0 0.5rem;
  }
  .productspecification .ps_header .ps_head_left ul li a span {
    margin-left: 0.5rem;
  }
  .productspecification .ps_header .ps_head_right {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .productspecification .ps_header .ps_head_right img {
    max-width: 260px;
  }
  .productspecification .ps_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .productspecification .ps_container ul {
    width: 100%;
  }
  .productspecification .ps_container ul li {
    padding: 0.7rem 0.2rem;
  }
  .productspecification .ps_container ul li span {
    font-size: 12px;
  }
}
.center-align {
  display: table;
  height: 100%;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.center-align .wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.center-align .content {
  display: -moz-inline-stack;
  display: inline-block;
  text-align: left;
}

h3 {
  font-family: inherit;
  font-weight: bold;
  color: #CCC;
  font-size: 1.1em;
}

img {
  margin: 0 10px;
}

/* ddfullscreenimageviewer */
body.revealviewer {
  overflow: hidden;
}

#fullscreencanvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background: white;
  z-index: 9000;
  pointer-events: none;
  display: block;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

body.revealviewer #fullscreencanvas {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: opacity 0.5s, visibility 0s 0s;
}

#fullscreenimagearea {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fullscreencanvas img {
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}

div#closeviewer {
  /* Large x close button  */
  width: 35px;
  height: 35px;
  overflow: hidden;
  display: block;
  position: fixed;
  cursor: pointer;
  text-indent: -1000px;
  z-index: 100000;
  top: 10px;
  right: 10px;
}

div#closeviewer::before, div#closeviewer::after {
  /* render large cross inside close button */
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 6px;
  background: black;
  top: 50%;
  opacity: 0;
  margin-top: -3px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 0.5s, opacity 0.5s;
}

body.revealviewer div#closeviewer::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 1;
}

body.revealviewer div#closeviewer::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 1;
}

/* Loading DIV CSS */
#fullimageloadingdiv, #zoomioloadingdiv {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  pointer-events: none;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  background: white;
}

#fullimageloadingdiv .spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/* zoomio */
#zoomiocontainer {
  /* container containing enlarged image (native sized image) */
  position: absolute;
  z-index: 9999;
  overflow: hidden;
  background: white;
  visibility: visible;
}

#zoomiocontainer img {
  /* image inside zoom container */
  width: auto;
  height: auto !important;
  position: absolute !important;
  display: block !important;
  cursor: move;
}

.disablepointer {
  pointer-events: none;
}

#zoomiocontainer.mobileclass {
  /* CSS class added to zoom container on mobile OS */
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#zoomioloadingdiv .spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/* opsional */
.thumbnails {
  cursor: zoom-in;
}