.main_banner {
  background-color: #ffffff;
  width: 100%;
  float: left;
}
.main_banner .warrper {
  position: relative;
}
.main_banner .warrper:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 35%;
  background: url("../images/banner-design-web.png") no-repeat top left;
  background-size: 100% 100%;
}
.main_banner .warrper .main_banner_desktop {
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.main_banner .warrper .main_banner_mobile {
  z-index: 1;
  position: relative;
  display: none;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.main_banner .main_banner_container {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 80%;
  height: auto !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_banner .main_banner_container h2 {
  width: 100%;
  float: left;
  text-align: left;
  font-family: "futura-bold", Arial, sans-serif;
  font-weight: 700;
  color: #E94E20;
  font-size: 40px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
}
.main_banner .main_banner_container p {
  width: 100%;
  float: left;
  text-align: left;
  font-family: "futura-medium", Arial, sans-serif;
  font-weight: 600;
  font-weight: normal;
  color: #ffffff;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
}

@media only screen and (max-width: 1023px) {
  .main_banner .warrper {
    max-width: 100%;
  }
  .main_banner .main_banner_container h2 {
    font-size: 28px;
  }
  .main_banner .main_banner_container p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 479px) {
  .main_banner .warrper:after {
    width: 40%;
    background: url("../images/banner-design-mob.png") no-repeat top left;
    background-size: 100% 100%;
  }
  .main_banner .warrper .main_banner_desktop {
    display: none;
  }
  .main_banner .warrper .main_banner_mobile {
    display: block;
  }
  .main_banner .main_banner_container h2 {
    font-size: 30px;
  }
  .main_banner .main_banner_container p {
    font-size: 16px;
  }
}
.aboutwrap {
  width: 100%;
  float: left;
  padding: 3rem 0;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: url("../images/about/bg.png") no-repeat center center;
  background-size: cover;
}
.aboutwrap .warrper {
  max-width: 80%;
}
.aboutwrap .warrper h2 {
  width: 100%;
  float: left;
  text-align: center;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  color: #E94E20;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
}
.aboutwrap .warrper h3 {
  margin: 0.5rem 0 0 0;
  width: 100%;
  float: left;
  text-align: center;
  font-family: "futura-bold", Arial, sans-serif;
  font-weight: 700;
  color: #152c55;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
}
.aboutwrap .warrper p {
  margin: 2rem 0 0 0;
  width: 100%;
  float: left;
  text-align: center;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 1px;
}
.aboutwrap.dowanloadinfo {
  background: #ffffff;
  min-height: auto;
}

@media only screen and (max-width: 1023px) {
  .aboutwrap {
    min-height: auto;
  }
  .aboutwrap .warrper {
    max-width: 90%;
  }
  .aboutwrap .warrper h2 {
    font-size: 28px;
  }
  .aboutwrap .warrper h3 {
    font-size: 28px;
  }
  .aboutwrap .warrper p {
    margin: 1.5rem 0 0 0;
    font-size: 16px;
    line-height: 1.4;
  }
}
@media only screen and (max-width: 479px) {
  .aboutwrap .warrper h2 {
    font-size: 24px;
    line-height: 1.2;
  }
  .aboutwrap .warrper h3 {
    font-size: 24px;
  }
  .aboutwrap .warrper p {
    margin: 1rem 0 0 0;
  }
}
.manufacturevideo {
  width: 100%;
  float: left;
  position: relative;
}
.manufacturevideo .manufacturevideo_desktop {
  display: block;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.manufacturevideo .manufacturevideo_mobile {
  display: none;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.manufacturevideo .manufacturevideoPlay {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 120px;
  cursor: pointer;
}

@media only screen and (max-width: 1023px) {
  .manufacturevideo .manufacturevideoPlay {
    width: 90px;
  }
}
@media only screen and (max-width: 479px) {
  .manufacturevideo .manufacturevideo_desktop {
    display: none;
  }
  .manufacturevideo .manufacturevideo_mobile {
    display: block;
  }
  .manufacturevideo .manufacturevideoPlay {
    width: 75px;
  }
}
.sustainabilitywrap {
  width: 100%;
  float: left;
  padding: 3rem 0;
  background: #ffffff;
}
.sustainabilitywrap .sustainabilitycontent {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: solid 1px #F0F0F0;
}
.sustainabilitywrap .sustainabilitycontent:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.sustainabilitywrap .sustainabilitycontent .sustainabilityleft {
  width: 30%;
  float: left;
  text-align: center;
}
.sustainabilitywrap .sustainabilitycontent .sustainabilityleft img {
  max-width: 120px;
  margin: auto auto;
  display: inline-block;
}
.sustainabilitywrap .sustainabilitycontent .sustainabilityleft h3 {
  width: 100%;
  float: left;
  text-align: center;
  color: #7d7d7f;
  font-family: "futura-bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}
.sustainabilitywrap .sustainabilitycontent .sustainabilityright {
  width: 65%;
  float: left;
}
.sustainabilitywrap .sustainabilitycontent .sustainabilityright p {
  width: 100%;
  float: left;
  text-align: left;
  color: #7d7d7f;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
}
.sustainabilitywrap .sustainabilitycontent .sustainabilityright ul {
  width: 100%;
  float: left;
  margin: 1rem 0;
}
.sustainabilitywrap .sustainabilitycontent .sustainabilityright ul li {
  list-style: none;
  margin: 4px 0;
  text-align: left;
  color: #7d7d7f;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
}

@media only screen and (max-width: 1023px) {
  .sustainabilitywrap .sustainabilitycontent {
    flex-wrap: wrap;
  }
  .sustainabilitywrap .sustainabilitycontent .sustainabilityleft {
    width: 100%;
    margin-bottom: 1rem;
  }
  .sustainabilitywrap .sustainabilitycontent .sustainabilityleft img {
    max-width: 100px;
  }
  .sustainabilitywrap .sustainabilitycontent .sustainabilityleft h3 {
    font-size: 16px;
  }
  .sustainabilitywrap .sustainabilitycontent .sustainabilityright {
    width: 100%;
  }
  .sustainabilitywrap .sustainabilitycontent .sustainabilityright p {
    font-size: 16px;
    text-align: center;
  }
  .sustainabilitywrap .sustainabilitycontent .sustainabilityright ul li {
    text-align: center;
    font-size: 16px;
  }
}
.downloadwrap {
  width: 100%;
  float: left;
  padding: 0 0 3rem 0;
  background: #ffffff;
}
.downloadwrap .downloadcontainer {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
  border: solid 1px #F0F0F0;
  text-decoration: none;
  transition: all 0.4s ease-out;
}
.downloadwrap .downloadcontainer:last-child {
  margin-bottom: 0;
}
.downloadwrap .downloadcontainer span {
  width: 30px;
  float: left;
  text-align: left;
  color: #555658;
  font-family: "futura-bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  transition: all 0.4s ease-out;
}
.downloadwrap .downloadcontainer img {
  max-width: 20px;
  float: right;
  filter: none;
  transition: all 0.4s ease-out;
}
.downloadwrap .downloadcontainer p {
  width: calc(100% - 60px);
  padding: 0 2rem;
  float: left;
  text-align: left;
  color: #7d7d7f;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  transition: all 0.4s ease-out;
}
.downloadwrap .downloadcontainer:hover {
  text-decoration: none;
  transition: all 0.4s ease-in;
}
.downloadwrap .downloadcontainer:hover span {
  color: #000000;
  transition: all 0.4s ease-in;
}
.downloadwrap .downloadcontainer:hover img {
  filter: invert(100%) saturate(10000%);
  transition: all 0.4s ease-in;
}
.downloadwrap .downloadcontainer:hover p {
  color: #000000;
  transition: all 0.4s ease-in;
}

.viewbuttoncontener {
  width: 100%;
  float: left;
  padding: 0 5% 2rem 5%;
  background: #ffffff;
  text-align: center;
}
.viewbuttoncontener a {
  padding: 0.8rem 1.5rem;
  width: auto;
  float: none;
  margin: 0 auto;
  display: inline-block;
  background-color: #E94E20;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  border-radius: 0;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s ease-out;
}
.viewbuttoncontener a:hover {
  background-color: #152c55;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.4s ease-in;
}

@media only screen and (max-width: 1023px) {
  .downloadwrap {
    padding: 0 0 2rem 0;
  }
  .downloadwrap .downloadcontainer {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .downloadwrap .downloadcontainer span {
    width: 20px;
    font-size: 18px;
  }
  .downloadwrap .downloadcontainer img {
    max-width: 16px;
  }
  .downloadwrap .downloadcontainer p {
    width: calc(100% - 40px);
    padding: 0 1rem;
    font-size: 14px;
  }
  .viewbuttoncontener a {
    padding: 0.7rem 1rem;
    font-size: 14px;
  }
}
.resourseswrap {
  width: 100%;
  float: left;
  padding: 0 0 3rem 0;
  background: #ffffff;
}
.resourseswrap .resoursescontainer {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
.resourseswrap .resoursescontainer .resoursesbox {
  width: 31.3%;
  padding: 2rem;
  margin: 1rem 1%;
  border: solid 1px #F0F0F0;
}
.resourseswrap .resoursescontainer .resoursesbox h5 {
  width: 100%;
  float: left;
  text-align: left;
  color: #555658;
  font-family: "futuraLT", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
}
.resourseswrap .resoursescontainer .resoursesbox p {
  margin: 0.5rem 0 1rem 0;
  width: 100%;
  float: left;
  text-align: left;
  color: #000000;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
}
.resourseswrap .resoursescontainer .resoursesbox a {
  width: auto;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  text-decoration: none;
  transition: all 0.4s ease-out;
}
.resourseswrap .resoursescontainer .resoursesbox a img {
  margin: 0;
  width: 12px;
  filter: none;
  transition: all 0.4s ease-out;
}
.resourseswrap .resoursescontainer .resoursesbox a span {
  padding: 0 0 0 1rem;
  float: left;
  text-align: left;
  color: #565659;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}
.resourseswrap .resoursescontainer .resoursesbox a:hover {
  transition: all 0.4s ease-in;
}
.resourseswrap .resoursescontainer .resoursesbox a:hover img {
  filter: invert(100%) saturate(10000%);
  transition: all 0.4s ease-in;
}
.resourseswrap .resoursescontainer .resoursesbox a:hover span {
  color: #E94E20;
  transition: all 0.4s ease-in;
}

@media only screen and (max-width: 1255px) {
  .resourseswrap .resoursescontainer .resoursesbox {
    padding: 1rem;
  }
}
@media only screen and (max-width: 1023px) {
  .resourseswrap {
    padding: 0 0 2rem 0;
  }
  .resourseswrap .resoursescontainer .resoursesbox {
    width: 46%;
    padding: 1rem;
    margin: 1rem 2%;
  }
}
@media only screen and (max-width: 599px) {
  .resourseswrap .resoursescontainer .resoursesbox {
    width: 98%;
    padding: 1rem;
    margin: 0.5rem 1%;
  }
}
.videoswrap {
  width: 100%;
  float: left;
  padding: 0 0 3rem 0;
  background: #ffffff;
}
.videoswrap .videoscontainer {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
.videoswrap .videoscontainer .videosbox {
  width: 31.3%;
  margin: 1rem 1%;
}
.videoswrap .videoscontainer .videosbox h3 {
  width: 100%;
  margin: 0 0 0.7rem 0;
  float: left;
  text-align: left;
  color: #565659;
  font-family: "futura-medium", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}
.videoswrap .videoscontainer .videosbox aside {
  position: relative;
  width: 100%;
  float: left;
}
.videoswrap .videoscontainer .videosbox aside img {
  margin: 0;
  width: 100%;
  float: left;
  border: 0;
  display: block;
}
.videoswrap .videoscontainer .videosbox aside span {
  transition: all 0.4s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 39px;
  height: 37px;
  background: url("../images/video_white.png") no-repeat center center;
  background-size: 100% 100%;
  cursor: pointer;
  filter: none;
}
.videoswrap .videoscontainer .videosbox aside span:hover {
  filter: invert(100%) saturate(10000%);
  transition: all 0.4s ease-in;
}

@media only screen and (max-width: 1023px) {
  .videoswrap {
    padding: 0 0 2rem 0;
  }
  .videoswrap .videoscontainer .videosbox {
    width: 46%;
    margin: 1rem 2%;
  }
}
@media only screen and (max-width: 599px) {
  .videoswrap .videoscontainer .videosbox {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
.termandprivacywrap {
  width: 100%;
  float: left;
  padding: 3rem 0;
  background: #ffffff;
}
.termandprivacywrap h2 {
  margin: 0 0 1rem 0;
  width: 100%;
  float: left;
  text-align: left;
  color: #000000;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1.3;
  font-family: "futura-bold", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.termandprivacywrap h3 {
  margin: 1rem 0 0.5rem 0;
  width: 100%;
  float: left;
  text-align: left;
  font-family: "futura-medium", Arial, sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  line-height: 1.3;
}
.termandprivacywrap h4, .termandprivacywrap h5, .termandprivacywrap h6 {
  margin: 0 0 1rem 0;
  width: 100%;
  float: left;
  text-align: left;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  line-height: 1.3;
}
.termandprivacywrap p {
  margin: 0 0 1rem 0;
  width: 100%;
  float: left;
  text-align: left;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  line-height: 1.3;
}
.termandprivacywrap p a {
  text-decoration: none;
  color: #E94E20;
  transition: all 0.4s ease-out;
}
.termandprivacywrap p a:hover {
  color: #152c55;
  transition: all 0.4s ease-in;
}
.termandprivacywrap ul {
  margin: 0 0 1rem 0;
  width: 100%;
  float: left;
}
.termandprivacywrap ul li {
  list-style: disc;
  text-align: left;
  margin: 0.3rem 0 0.3rem 1rem;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  line-height: 1.3;
}
.termandprivacywrap ul li a {
  text-decoration: none;
  color: #E94E20;
  transition: all 0.4s ease-out;
}
.termandprivacywrap ul li a:hover {
  color: #152c55;
  transition: all 0.4s ease-in;
}
.termandprivacywrap ul li ul {
  margin: 0.5rem 0;
}
.termandprivacywrap ul li ul li {
  list-style: circle;
  margin: 0.2rem 0 0.2rem 1rem;
}
.termandprivacywrap ul li ol {
  margin: 0.5rem 0;
}
.termandprivacywrap ul li ol li {
  list-style: lower-alpha;
  margin: 0.2rem 0 0.2rem 1rem;
}
.termandprivacywrap ol {
  margin: 0 0 1rem 0;
  width: 100%;
  float: left;
}
.termandprivacywrap ol li {
  text-align: left;
  list-style: decimal;
  margin: 0.3rem 0 0.3rem 1rem;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  line-height: 1.3;
}
.termandprivacywrap ol li a {
  text-decoration: none;
  color: #E94E20;
  transition: all 0.4s ease-out;
}
.termandprivacywrap ol li a:hover {
  color: #152c55;
  transition: all 0.4s ease-in;
}
.termandprivacywrap ol ul {
  margin: 0.5rem 0;
}
.termandprivacywrap ol ul li {
  list-style: circle;
  margin: 0.2rem 0 0.2rem 1rem;
}
.termandprivacywrap ol ol {
  margin: 0.5rem 0;
}
.termandprivacywrap ol ol li {
  list-style: lower-alpha;
  margin: 0.2rem 0 0.2rem 1rem;
}

@media only screen and (max-width: 1023px) {
  .termandprivacywrap h2 {
    font-size: 20px;
  }
  .termandprivacywrap h3 {
    font-size: 16px;
  }
  .termandprivacywrap h4, .termandprivacywrap h5, .termandprivacywrap h6 {
    font-size: 14px;
  }
  .termandprivacywrap p {
    font-size: 14px;
  }
  .termandprivacywrap ul li {
    font-size: 14px;
  }
  .termandprivacywrap ol li {
    font-size: 14px;
  }
}
/* ######################## resultsWrap ######################## */
.notfoundwrap {
  width: 100%;
  float: left;
  padding: 5rem 0 3rem 0;
  background-color: #ffffff;
}
.notfoundwrap h2 {
  width: 100%;
  float: left;
  text-align: center;
  color: #000000;
  font-size: 120px;
  letter-spacing: normal;
  line-height: 1;
  text-transform: uppercase;
  font-family: "futura-bold", Arial, sans-serif;
  font-weight: 700;
}
.notfoundwrap h3 {
  width: 100%;
  float: left;
  text-align: center;
  color: #000000;
  font-size: 36px;
  line-height: 1.2;
  font-family: "futura-medium", Arial, sans-serif;
  font-weight: 600;
}
.notfoundwrap h4 {
  width: 100%;
  float: left;
  margin-top: 2rem;
  text-align: center;
  color: #000000;
  font-size: 18;
  line-height: 1.2;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
}
.notfoundwrap p {
  width: 100%;
  float: left;
  margin-top: 2rem;
  text-align: center;
}
.notfoundwrap p a {
  display: inline-block;
  width: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-out;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  background-color: #E94E20;
  color: #ffffff;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
  font-size: 18;
  letter-spacing: normal;
  line-height: 20px;
  text-transform: uppercase;
}
.notfoundwrap p a:hover {
  transition: all 0.4s ease-in;
  background-color: #152c55;
  color: #ffffff;
}

/* ######################## resultsWrap ######################## */
.serchwrap {
  width: 100%;
  float: left;
  padding: 3rem 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* searchresults */
.searchresult {
  width: 90%;
  max-width: 1000px;
  float: none;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}
.searchresult h2 {
  width: 100%;
  float: left;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: normal;
  color: #000000;
  font-family: "futura-medium", Arial, sans-serif;
  font-weight: 600;
}
.searchresult h2 span {
  display: inline-block;
  font-size: 110%;
  font-weight: bold;
  font-family: "futura-bold", Arial, sans-serif;
  font-weight: 700;
  color: #E94E20;
}
.searchresult ul {
  width: 100%;
  float: left;
}
.searchresult ul li {
  width: 100%;
  float: left;
  padding: 1.5rem 0;
  list-style: none;
  border-bottom: solid 1px #565659;
}
.searchresult ul li:last-child {
  border-bottom: none;
}
.searchresult ul li h3 {
  width: 100%;
  float: left;
  text-align: left;
  font-size: 18px;
  line-height: 1;
  color: #565659;
  font-family: "futura-medium", Arial, sans-serif;
  font-weight: 600;
}
.searchresult ul li p {
  width: 100%;
  float: left;
  margin: 0.5rem 0;
  text-align: left;
  font-size: 16px;
  line-height: 1.3;
  color: #000000;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
}
.searchresult ul li aside {
  width: 100%;
  float: left;
  margin: 0.2rem 0 0 0;
}
.searchresult ul li aside a {
  text-decoration: underline;
  color: #E94E20;
  transition: all 0.4s ease-out;
  font-size: 16px;
  line-height: 1.3;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
}
.searchresult ul li aside a:hover {
  color: #152c55;
  transition: all 0.4s ease-in;
}

/* searchnotfound */
.searchnotfound {
  width: 90%;
  max-width: 500px;
  float: none;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}
.searchnotfound h2 {
  width: 100%;
  float: left;
  margin: 0 0 2rem 0;
  text-align: left;
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: normal;
  color: #000000;
  font-family: "futura-medium", Arial, sans-serif;
  font-weight: 600;
  font-weight: bold;
}
.searchnotfound h2 span {
  display: inline-block;
  font-size: 110%;
  font-family: "futura-bold", Arial, sans-serif;
  font-weight: 700;
  color: #E94E20;
}
.searchnotfound ul {
  width: 100%;
  float: left;
}
.searchnotfound ul li {
  margin: 0rem 0 1rem 1.3rem;
  list-style: disc;
  text-align: left;
  font-size: 18px;
  line-height: 1.3;
  color: #000000;
  font-family: "futura-book", Arial, sans-serif;
  font-weight: 500;
}
.searchnotfound ul li a {
  text-decoration: underline;
  color: #E94E20;
  transition: all 0.4s ease-out;
}
.searchnotfound ul li a:hover {
  color: #152c55;
  transition: all 0.4s ease-in;
}

@media only screen and (max-width: 1023px) {
  /* ######################## serchwrap ######################## */
  /* searchresults */
  .searchresult h2 {
    margin-bottom: 1rem;
    font-size: 20px;
    line-height: 26px;
  }
  .searchresult ul li {
    padding: 1rem 0;
  }
  .searchresult ul li h3 {
    font-size: 16px;
  }
  .searchresult ul li p {
    margin: 0.3rem 0 0.5rem 0;
    font-size: 14px;
  }
  .searchresult ul li aside a {
    font-size: 14px;
  }
  /* searchnotfound */
  .searchnotfound {
    margin: 1rem auto;
  }
  .searchnotfound h2 {
    font-size: 20px;
  }
  .searchnotfound ul li {
    font-size: 16px;
  }
}